<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>温湿度显示</title>
    <script>
        function refreshPage() {
            location.reload();
        }
        setInterval(refreshPage, 1000);
    </script>
</head>

<body>
    <h1>温湿度显示</h1>
    {% if temperature and humidity %}
    <div style="font-size: 30px;">
        <span style="color: red;">温度: {{ temperature }} °C</span><br>
        <span style="color: blue;">湿度: {{ humidity }} %RH</span>
    </div>
    {% else %}
    <p>正在获取温湿度数据...</p>
    {% endif %}
</body>

</html>